@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @*side menu*@
    <div class="col-md-3 list-group" style="border: solid; padding-right: 0">
        <div class="list-group-item">Categories:</div>
        <hr />
        <a class="list-group-item list-group-item-action">All</a>
        <a class="list-group-item list-group-item-action">Smartphones</a>
        <a class="list-group-item list-group-item-action">TVs</a>
        <a class="list-group-item list-group-item-action">Tools</a>
        <a class="list-group-item list-group-item-action">Headphones</a>
        <a class="list-group-item list-group-item-action">Food</a>
        <hr />

        <div style="padding-left: 1em">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortPropRadios" id="sortPropRadios1" value="Id" checked>
                <label class="form-check-label" for="exampleRadios1">
                    New
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortPropRadios" id="sortPropRadios2" value="Price">
                <label class="form-check-label" for="exampleRadios1">
                    Price
                </label>
            </div>

            <hr />

            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortRadios" id="sortRadios1" value="0">
                <label class="form-check-label" for="exampleRadios1">
                    None
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortRadios" id="sortRadios2" value="1">
                <label class="form-check-label" for="exampleRadios2">
                    Ascending
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortRadios" id="sortRadios3" value="2" checked>
                <label class="form-check-label" for="exampleRadios3">
                    Descending
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        @*Main content*@
        <h3>Check out newest products!</h3>
        <div id="content"></div>
        <button id="loadNextPageButton" class="btn btn-secondary">Load more</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/IndexScripts.js"></script>
}
