@{ 
    ViewData["Title"] = "Shopping cart";
}

<h3>Shopping cart</h3>

<div id="content" class="container-fluid">
    @*Here will be items in shopping cart*@
</div>

<button id="confirmOrderBtn" class="btn btn-secondary m-2">Confirm order</button>

@section Scripts {
    <script src="~/js/ShoppingCartScripts.js"></script>
}
